/*General*/
:root {
    --color1: #899651;
    --color2: #B3D096;
    --color3: #E6EBDD;
}

body,
html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    font-weight: 500;
    margin: 5px 0;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--color1);
    align-items: center;
    height: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s ease;
    border-radius: 20px;
    padding: 5px;
}

.seccion{
    width: 100px;
    text-align: center;
}

.seccion:hover{
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    color: var(--color1);
}

.activo{
    background-color: white;
    border-radius: 50px;
    color: var(--color1);
}

header i {
    color: #000000;
}

header button {
    padding: 10px;
    font-weight: 800;
    font-size: 15px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid white;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="search"]{
    background-color: white;
}

#contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacto{
    display: flex;
    gap: 1em;
    align-items: center;
}

.contacto i{
    font-size: 30px;
}

.contacto p{
    margin: 5px 0;
    color: #625555;
}

.search-bar i {
    position: absolute;
    right: 10px;
    top: 15px;
    color: black;
}

.search-bar input {
    padding: 10px;
    border-radius: 20px;
    height: 45px;
    font-size: 15px;
    border: 1px solid white;
}

aside {
    background-color: var(--color3);
    padding: 20px;
    width: 15%;
}

input[type="submit"] {
    background-color: var(--color1);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90%;
}

.footer-nuevo-diseno {
    background-color: var(--color1);
    color: white;
    font-size: 0.9em;
    padding: 10px 5%;
}

.terminos-privacidad {
    color: #d6e2bc;
}

.contenido-footer-nuevo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.linea-superior,
.linea-inferior {
    height: 1px;
    background-color: white;
    opacity: 0.5;
    margin: 10px 0;
}

.texto-legal-columna {
    flex-grow: 1;
    max-width: 38%;
    margin-right: 20px;
    line-height: 1.4;
}

.copyright-texto {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}

.terminos-privacidad {
    font-size: 0.9em;
    margin-top: 0;
}

.codigo-barras-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
}

.codigo-barras-simulacion {
    font-family: monospace;
    font-size: 0.8em;
    color: white;
    letter-spacing: -0.25em;
    margin-bottom: 5px;
    transform: rotate(90deg);
    position: absolute;
    margin-top: -15px;
}

.logo-iconos-columna {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.logo-footer-final {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: white;
}

.iconos-sociales-footer i {
    font-size: 1.5em;
    margin-left: 15px;
    color: black;
    background-color: transparent;
}

button{
    cursor: pointer;
}

/*Pagina de tienda*/
#asideYmain {
    display: flex;
    flex: 1;
    width: 100%;
}

#mainTienda{
    padding: 30px;
}

.tarjeta{
    background-color: var(--color3);
    border-radius: 20px;
    padding: 30px;
    width: 200px;
    height: 330px;
    text-align: center;
}

.info h3, .info p{
    margin: 5px;
}

.tarjeta img{
    height: 50%;
    width: 80%;
}

.tarjeta button{
    background-color: var(--color1);
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--color1);
    font-size: 15px;
    width: 90%;
}

.fav{
    width: 100%;
    display: flex;
    align-items: end;
    font-size: 20px;
}

.ofertas{
    font-size: 12px;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
}

.precioContenedor {
    width: 90%;
    padding: 20px 0;
}

.rangoSlider {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 30px 0;
    background-color: #000000;
    border-radius: 5px;
}

.slider-track {
    height: 100%;
    position: absolute;
    background-color: #899651;
    border-radius: 5px;
    left: 0;
    right: 0;
}

.rangoSlider input {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
}

input[type="range"] {
    appearance: none;
    background: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color1);
    background-color: var(--color1);
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color1);
    background-color: var(--color1);
    pointer-events: auto;
    cursor: pointer;
    -moz-appearance: none;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

.inputContenedor {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.min-box,
.max-box {
    width: 50%;
}

.input-wrap {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.input-addon {
    display: flex;
    align-items: center;
    padding: .625rem 0 .625rem .625rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #685C5C;
    white-space: nowrap;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-field {
    margin-left: -1px;
    padding: .425rem 0;
    font-size: 0.8125rem;
    border-radius: .25rem;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    color: #685C5C;
    background-color: #D9D9D9;
    background-clip: padding-box;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input-field:focus {
    outline: none;
}

.rangoSlider input[type="range"] {
    margin: 0;
    padding: 0;
}

/*-------------registro--------------*/

.logito {
    justify-content: left;
    padding: 0 10px;
    height: 90px;
}

.logo {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #fff;
}

.registro-contenedor {
    display: flex;
    padding: 25px 0;
    justify-content: center;
}

.registro-formulario {
    background-color: var(--color2);
    padding: 40px;
    border: 2px solid #000000;
    width: 40%;
}

.registro-formulario h2 {
    margin-top: 0;
    color: #080808;
}

.registro-formulario p {
    font-size: 0.9em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fila {
    display: flex;
    gap: 10px;
}

.registro-formulario>form input[type= "text"], 
input[type="date"], 
input[type="email"], 
input[type="tel"], 
input[type="password"]{
    padding: 15px 2px;
    border: 1px solid #000000;
    background-color: #e7eedb;
    width: 100%;
}

.btn {
    background-color: #899651;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    align-self: center;
}

/*-----------------------contact-------------------*/
.contact-formulario {
    background-color: var(--color2);
    padding: 30px;
    border: 2px solid #000000;
    margin: 0 auto;
}

.contact-contenedor {
    padding: 15px;
    align-self: center;
    justify-content: center;
    display: flex;
}

textarea {
    padding: 10px 2px;
    border: 1px solid #000000;
    background-color: #e7eedb;
    width: 100%;
}

/*-------------------cart-----------------------------*/
.main-ch {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.ch-contenedor {
    width: 90%;
    max-width: 1200px;
    border: 2px solid #0b0b0b;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ch-caja {
    padding: 20px;
}

.ch-caja h2 {
    margin-top: 0;
    font-size: 1em;
}

.ch-caja p {
    color: #555;
}

/*--------------------Inicio sesion-----------------------------*/

.main-login {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-contenedor {
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-login {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

.login-caja-principal {
    background-color: var(--color2);
    padding: 10px;
    border: 2px solid #000000;
}

.login-caja-secundaria {
    background-color: var(--color2);
    padding: 15px 25px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 1.1em;
}

.login-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-formulario label {
    margin-left: 35px;
    font-size: 1em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 3px;
}

.login-formulario input {
    border: 1px solid #000000;
    background-color: var(--color3);
    font-size: 1em;
    padding: 12px;
    width: 85%;
    align-self: center;
}

.btn-ingresar {
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    width: 30%;
    align-self: center;

}

.link-registro {
    color: #cc0000;
    text-decoration: none;
}