/*General*/
:root {
    --color1: #899651;
    --color2: #B3D096;
    --color3: #E6EBDD;
}

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-weight: 500;
    margin: 5px 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--color1);
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
    --iconoMenu: url("../assets/menuAbierto.svg");
    --menuAbierto: translate(-100%);
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s ease;
    border-radius: 20px;
    padding: 5px;
}

header .iconos {
    display: flex;
    height: fit-content;
    gap: 2em;
}

.seccion {
    width: 100px;
    text-align: center;
}

.seccion:hover {
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    color: var(--color1);
}

.activo {
    background-color: white;
    border-radius: 50px;
    color: var(--color1);
}

header i {
    color: #000000;
    transition: 0.3s ease;
}

header i:hover {
    color: white;
}

header button {
    padding: 10px;
    font-weight: 800;
    font-size: 15px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid white;
}

.btnUsuario,
.nav_toogle {
    z-index: 10;
}

#menu_input:checked~.nav_list {
    display: grid;
    --iconoMenu: url("../assets/menuCerrado.svg");
    --menuAbierto: translate(0);
}

.nav_input {
    display: none;
}

.nav_list {
    transform: var(--menuAbierto);
    list-style: none;
    position: fixed;
    display: grid;
    inset: 0;
    background-color: var(--color1);
    align-content: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    z-index: 9;
    transition: .5s ease;
    padding: 0;
}

#menu_input:checked~.nav_toogle {
    --iconoMenu: url("../assets/menuCerrado.svg");
}

.nav_toogle {
    width: 40px;
    height: 40px;
    background-image: var(--iconoMenu);
    background-size: cover;
    cursor: pointer;
    transition: 0.3s ease;
}

#menu_input:checked~.nav_list {
    display: grid;
}

input[type="search"] {
    border: white solid 1px;
}

.search-bar {
    border-radius: 25px;
    background-color: white;
    font-size: 15px;
    border: 1px solid white;
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow: hidden;
}

.search-bar button {
    background: none;
}

input:focus {
    outline: none;
}

.search-bar i {
    color: var(--color1);
}

.search-bar i:hover {
    color: var(--color2);
}

#contactosAside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacto {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contacto i {
    font-size: 30px;
}

.contacto a,
.contacto p {
    margin: 5px 0;
    color: #625555;
    text-decoration: none;
}

aside {
    background-color: var(--color3);
    padding: 20px;
    width: 15%;
    min-width: min-content;
}

input[type="submit"] {
    background-color: var(--color1);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90%;
    transition: 0.3s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a8b864f3;
}

.footer-nuevo-diseno {
    background-color: var(--color1);
    color: white;
    font-size: 0.9em;
    padding: 10px 5%;
}

.terminos-privacidad {
    color: #d6e2bc;
}

.contenido-footer-nuevo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.linea-superior,
.linea-inferior {
    height: 1px;
    background-color: white;
    opacity: 0.5;
    margin: 10px 0;
}

.texto-legal-columna {
    flex-grow: 1;
    max-width: 38%;
    margin-right: 20px;
    line-height: 1.4;
}

.copyright-texto {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}

.terminos-privacidad {
    font-size: 0.9em;
    margin-top: 0;
}

.codigo-barras-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
}

.codigo-barras-simulacion {
    font-family: monospace;
    font-size: 0.8em;
    color: white;
    letter-spacing: -0.25em;
    margin-bottom: 5px;
    transform: rotate(90deg);
    position: absolute;
    margin-top: -15px;
}

.logo-iconos-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.logo-footer-final {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: white;
}

.iconos-sociales-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.iconos-sociales-footer i {
    font-size: 1.5em;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.iconos-sociales-footer i:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
}

#body {
    display: flex;
    flex-direction: column;
}

#body main {
    flex: 1;
}

/*Pagina de Inicio*/
.contenedorCarrusel {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
}

.carruseles {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slider 12s infinite ease-in-out;
}

.sliderSection {
    width: calc(100% / 3);
    height: 100%;
    flex-shrink: 0;
}

.sliderSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-33.33%);
    }

    58% {
        transform: translateX(-33.33%);
    }

    66% {
        transform: translateX(-66.66%);
    }

    92% {
        transform: translateX(-66.66%);
    }

    100% {
        transform: translateX(0);
    }
}

#contactos {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.contactos {
    width: 33.3%;
    padding: 5px 25px;
}

.contactos>div {
    width: 100%;
}

.c1 {
    background-color: var(--color1);
}

.c2 {
    background-color: var(--color2);
}

.c3 {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
}

.contenedor {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.contenedor img{
    width: 50%;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color1);
}

.subtitulo {
    font-size: 16px;
    max-width: 90%;
    margin: 0 auto 40px auto;
    color: #555;
}

.grid {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 100px;
}

.item {
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.589);
}

.icono {
    font-size: 32px;
    color: var(--color2);
}

.item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #222;
}

.item p {
    color: #555;
    line-height: 1.5;
    font-size: 15px;
}

/*Pagina de tienda*/
#mainTienda {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 20px auto;
    width: 85%;
}

#asideYmain {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.tarjeta {
    background-color: var(--color3);
    border-radius: 20px;
    padding: 30px;
    width: 260px;
    height: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.info h3,
.info p {
    margin: 5px;
}

.tarjeta img {
    height: 50%;
    width: 80%;
}

.tarjeta .agregar {
    background-color: var(--color1);
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--color1);
    font-size: 15px;
    width: 90%;
    transition: 0.3s ease;
}

.tarjeta .agregar:hover{
    background-color: #a8b864f3;
    border-color: #a8b864f3;
}

.fav {
    display: flex;
    align-items: end;
    align-self: flex-start;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
    border: none;
    background: none;
}

.ofertas {
    font-size: 12px;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
}

.precioContenedor {
    width: 90%;
    padding: 20px 0;
}

.precioContenedor>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 20px;
}

.price-input {
    width: 100%;
    display: flex;
    gap: 1em;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    overflow: hidden;
    padding: 15px 5px;
}

.field span {
    font-size: 14px;
    flex: 1;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    -moz-appearance: textfield;
    font-size: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 5px;
    position: relative;
    background: #000000;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--color1);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--color1);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--color1);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/*-------------registro--------------*/

.logito {
    justify-content: left;
    padding: 0 10px;
    height: 90px;
}

.logo {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #fff;
}

.main-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: var(--color2);
    border: 2px solid #000000;
    height: fit-content;
}

.formulario h2 {
    margin-top: 0;
    color: #080808;
}

.formulario p {
    font-size: 0.9em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fila {
    display: flex;
    gap: 10px;
}

.formulario>form input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding: 15px 5px;
    border: 1px solid #000000;
    background-color: #e7eedb;
    width: 100%;
}

.btn {
    background-color: #899651;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    align-self: center;
    min-width: fit-content;
}

/*-----------------------contact-------------------*/


textarea {
    padding: 10px 5px;
    border: 1px solid #000000;
    background-color: #e7eedb;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*-------------------cart-----------------------------*/
.main-ch {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.ch-contenedor {
    width: 90%;
    max-width: 1200px;
    border: 2px solid #0b0b0b;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ch-caja {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ch-caja p {
    color: #555;
}

/*--------------------Inicio sesion-----------------------------*/

.login-contenedor {
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-login {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

.login-caja-principal {
    background-color: var(--color2);
    padding: 10px;
    border: 2px solid #000000;
}

.login-caja-secundaria {
    background-color: var(--color2);
    padding: 15px 25px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.google-login {
    cursor: pointer;
}

.login-caja-secundaria img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.login-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.login-formulario label {
    margin-left: 35px;
    font-size: 1em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 3px;
}

.login-formulario input {
    border: 1px solid #000000;
    background-color: var(--color3);
    font-size: 1em;
    padding: 12px;
    width: 85%;
    align-self: center;
}

.btn-ingresar {
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    width: 30%;
    align-self: center;
    min-width: fit-content;
}

.link-registro {
    color: #cc0000;
    text-decoration: none;
}

/*-------------------Responsive--------------------------------------------------------*/


@media (width >=780px) {

    /*Header*/
    header {
        --menuAbierto: translate(0%);
    }

    .nav_toogle {
        display: none;
    }

    .nav_list {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4em;
    }

    /*Página de Inicio*/
    .contenedorCarrusel {
        height: 770px;
    }

    .formulario {
        width: 50%;
        padding: 40px;
    }
}

@media (width <=1500px) {
    aside {
        width: 30%;
    }

    #contenedor {
        justify-content: center;
    }

    .formulario {
        width: 80%;
    }
}

@media (500px < width <780px) {
    /*Header*/
    .nav_toogle {
        order: 3;
    }

    .nav_list {
        padding: 20px 0 50px;
        height: 350px;
        align-content: end;
    }

    /*Página de inicio*/
    .contenedorCarrusel {
        height: 780px;
    }

    #contactos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .contactos {
        width: 100%;
        padding: 30px 0 20px 20px;
    }

    .c1 {
        grid-column: 1 / 2;
        grid-row: 1/2;
        width: 100%;
    }

    .c2 {
        grid-column: 2 / 3;
        grid-row: 1/2;
        width: 100%;
    }

    .c3 {
        grid-column: 1 / 3;
        grid-row: 2/3;
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 2em;
        max-width: 100%;
    }

    /*Página de tienda*/
    #asideYmain {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .login-formulario,
    .contact-formulario,
    .registro-formulario {
        width: 90%;
    }

    .formulario {
        margin: 30px 0;
        padding: 30px;
    }
}

@media (width <=500px) {
    /*Header*/
    .nav_toogle {
        order: 3;
    }

    .nav_list {
        padding: 20px 0 50px;
        height: 400px;
        align-content: end;
    }

    .btnUsuario {
        order: 2;
    }

    .contenido-footer-nuevo {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .texto-legal-columna {
        max-width: 100%;
        text-align: center;
    }

    /*Página de Inicio*/
    .contenedorCarrusel {
        height: 60vh;
    }

    #contactos {
        display: flex;
        flex-direction: column;
    }

    .contactos {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*página tienda*/
    aside {
        width: 100%;
    }

    .formulario {
        margin: 30px 0;
        width: 95%;
        padding: 20px;
    }

    /*Formulario*/
    .fila {
        flex-direction: column;
        margin-top: 10px;
    }

    /*Pagina carrito*/
    .ch-caja {
        padding: 0;
    }

    .item-compra {
        flex-direction: column;
        text-align: center;
    }

    .item-compra>div {
        flex-direction: column;
    }
}


.item-compra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    transition: 0.2s;
    margin: 5px;
}

.item-compra>div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* Información */
.item-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.item-info p {
    margin: 3px 0;
    color: #555;
}

.btn-eliminar, .btn-carrito-fav {
    background: #899651;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-eliminar:hover {
    background: #e63a3a;
}

.btn-carrito-fav:hover{
    background-color: #98a75a;
}

.carrito-total {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
}

.carrito-total h3 {
    font-weight: 500;
}

.btn-comprar {
    width: 100%;
    padding: 12px;
    background: #899651;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn-comprar:hover {
    background: #7d894a;
}