/*General*/
:root {
    --color1: #899651;
    --color2: #B3D096;
    --color3: #E6EBDD;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



aside {
    background-color: var(--color3);
    padding: 20px;
    height: 100%;
}

input[type="submit"] {
    background-color: var(--color1);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90%;
}

.footer-nuevo-diseno {
    background-color: #899651; 
    color: white;
    font-size: 0.9em;
    padding: 10px 5%; 
}
.terminos-privacidad{
    color: #d6e2bc;
}

.contenido-footer-nuevo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
}

.linea-superior, .linea-inferior {
    height: 1px;
    background-color: white;
    opacity: 0.5;
    margin: 10px 0;
}


.texto-legal-columna {
    flex-grow: 1; 
    max-width: 38%;
    margin-right: 20px;
    line-height: 1.4;
}

.copyright-texto {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}

.terminos-privacidad {
    font-size: 0.9em;
    margin-top: 0;
}

.codigo-barras-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 60px; 
}

.codigo-barras-simulacion {
    font-family: monospace;
    font-size: 0.8em; 
    color: white;
    letter-spacing: -0.25em; 
    margin-bottom: 5px;
    transform: rotate(90deg); 
    position: absolute; 
    margin-top: -15px; 
}

.logo-iconos-columna {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 10px;
}

.logo-footer-final {
    font-family: 'Georgia', serif; 
    font-size: 1.8em;
    color: white;
}

.iconos-sociales-footer i {
    font-size: 1.5em; 
    margin-left: 15px;
    color: black; 
    background-color: transparent;
}


/*Pagina de tienda*/
#asideYmain {
    display: flex;
}

main {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.precioContenedor {
    width: 90%;
    padding: 20px 0;
}

.rangoSlider {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 30px 0;
    background-color: #000000;
    border-radius: 5px;
}

.slider-track {
    height: 100%;
    position: absolute;
    background-color: #899651;
    border-radius: 5px;
    left: 0;
    right: 0;
}

.rangoSlider input {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
}

input[type="range"] {
    appearance: none;
    background: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color1);
    background-color: var(--color1);
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color1);
    background-color: var(--color1);
    pointer-events: auto;
    cursor: pointer;
    -moz-appearance: none;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

.inputContenedor {
    display: flex;
}

.min-box,
.max-box {
    width: 50%;
}

.min-box {
    padding-right: .5rem;
    margin-right: .5rem;
}

.input-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-addon {
    display: flex;
    align-items: center;
    padding: .625rem 0 .625rem .625rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #685C5C;
    white-space: nowrap;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-field {
    margin-left: -1px;
    padding: .425rem 0;
    font-size: 0.8125rem;
    border-radius: .25rem;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    color: #685C5C;
    background-color: #D9D9D9;
    background-clip: padding-box;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input-field:focus{
    outline: none;
}

.rangoSlider input[type="range"] {
  margin: 0;
  padding: 0;
}
