/*General*/
:root {
    --color1: #899651;
    --color2: #B3D096;
    --color3: #E6EBDD;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

aside {
    background-color: var(--color3);
    padding: 20px;
    height: 100%;
}

input[type="submit"] {
    background-color: var(--color1);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90%;
}

/*Pagina de tienda*/
#asideYmain {
    display: flex;
}

main {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.precioContenedor {
    width: 90%;
    padding: 20px 0;
}

.rangoSlider {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 30px 0;
    background-color: #000000;
    border-radius: 5px;
}

.slider-track {
    height: 100%;
    position: absolute;
    background-color: #899651;
    border-radius: 5px;
    left: 0;
    right: 0;
}

.rangoSlider input {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
}

input[type="range"] {
    appearance: none;
    background: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color1);
    background-color: var(--color1);
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color1);
    background-color: var(--color1);
    pointer-events: auto;
    cursor: pointer;
    -moz-appearance: none;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .25);
}

.inputContenedor {
    display: flex;
}

.min-box,
.max-box {
    width: 50%;
}

.min-box {
    padding-right: .5rem;
    margin-right: .5rem;
}

.input-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-addon {
    display: flex;
    align-items: center;
    padding: .625rem 0 .625rem .625rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #685C5C;
    white-space: nowrap;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-field {
    margin-left: -1px;
    padding: .425rem 0;
    font-size: 0.8125rem;
    border-radius: .25rem;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    color: #685C5C;
    background-color: #D9D9D9;
    background-clip: padding-box;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input-field:focus{
    outline: none;
}

.rangoSlider input[type="range"] {
  margin: 0;
  padding: 0;
}
