/*General*/
:root {
    --color1: #899651;
    --color2: #B3D096;
    --color3: #E6EBDD;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-weight: 500;
    margin: 5px 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--color1);
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s ease;
    border-radius: 20px;
    padding: 5px;
}

.seccion {
    width: 100px;
    text-align: center;
}

.seccion:hover {
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    color: var(--color1);
}

.activo {
    background-color: white;
    border-radius: 50px;
    color: var(--color1);
}

header i {
    color: #000000;
}

header button {
    padding: 10px;
    font-weight: 800;
    font-size: 15px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid white;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="search"] {
    background-color: white;
}

#contactosAside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacto {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contacto i {
    font-size: 30px;
}

.contacto a, .contacto p {
    margin: 5px 0;
    color: #625555;
    text-decoration: none;
}

.search-bar i {
    position: absolute;
    right: 10px;
    top: 15px;
    color: black;
}

.search-bar input {
    padding: 10px;
    border-radius: 20px;
    height: 45px;
    font-size: 15px;
    border: 1px solid white;
}

aside {
    background-color: var(--color3);
    padding: 20px;
    width: 15%;
    min-width: min-content;
}

input[type="submit"] {
    background-color: var(--color1);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90%;
    transition: 0.3s ease;
}

input[type="submit"]:hover{
    background-color: #a8b864f3;
}

.footer-nuevo-diseno {
    background-color: var(--color1);
    color: white;
    font-size: 0.9em;
    padding: 10px 5%;
}

.terminos-privacidad {
    color: #d6e2bc;
}

.contenido-footer-nuevo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.linea-superior,
.linea-inferior {
    height: 1px;
    background-color: white;
    opacity: 0.5;
    margin: 10px 0;
}

.texto-legal-columna {
    flex-grow: 1;
    max-width: 38%;
    margin-right: 20px;
    line-height: 1.4;
}

.copyright-texto {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}

.terminos-privacidad {
    font-size: 0.9em;
    margin-top: 0;
}

.codigo-barras-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
}

.codigo-barras-simulacion {
    font-family: monospace;
    font-size: 0.8em;
    color: white;
    letter-spacing: -0.25em;
    margin-bottom: 5px;
    transform: rotate(90deg);
    position: absolute;
    margin-top: -15px;
}

.logo-iconos-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.logo-footer-final {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: white;
}

.iconos-sociales-footer{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.iconos-sociales-footer i {
    font-size: 1.5em;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.iconos-sociales-footer i:hover {
    opacity: 0.8;  
}

button {
    cursor: pointer;
}

#body {
    display: flex;
    flex-direction: column;
}

#body main {
    flex: 1;
}

/*Pagina de Inicio*/
.contenedorCarrusel {
    width: 100%;
    height: 780px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;
    transition: 0.5s ease;
}

.sliderSection {
    width: calc(100% / 3);
    height: 100%;
}

.sliderSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btnIzq,
.btnDer {
    display: flex;
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
    color: var(--color3);
    font-size: 3rem;
    transform: translate(0, -50%);
    transition: .5s ease;
    border-radius: 50px;
}

.btnIzq:hover,
.btnDer:hover {
    background-color: var(--color1);
    color: var(--color3);
}

.btnDer {
    right: 10px;
}

.btnIzq {
    left: 10px;
}

#contactos {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.contactos {
    width: 33.3%;
    padding: 5px 25px;
}

.contactos>div {
    width: 100%;
}

.c1 {
    background-color: var(--color1);
}

.c2 {
    background-color: var(--color2);
}

.c3 {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
}

#sobreIlovecel {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

#sobreIlovecel h2 {
    color: var(--color1);
}

#sobreIlovecel p {
    font-size: large;
}

#quienesSomos {
    text-align: center;
}

#quienesSomos h1 {
    color: var(--color1);
    font-weight: 700;
    font-size: xxx-large;
}

#historia {
    display: flex;
    justify-content: center;
    width: 70%;
    justify-self: center;
    padding: 20px;
}

#historia img {
    width: 50%;
    border-radius: 20px;
}

/*Pagina de tienda*/
#asideYmain {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

@media (780px < width <=1440px){
    /*P치gina de Inicio*/
    .contenedorCarrusel{
        height: 500px;
    }
}

@media (500px < width <= 780px) {
    /*Header*/
    header{
        flex-direction: column;
        gap: 1em;
    }

    /*P치gina de inicio*/
    .contenedorCarrusel{
        height: 780px;
    }

    #contactos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .contactos{
        width: 100%;
    }

    .c1{
        grid-column: 1 / 2;
        grid-row: 1/2;
        width: 100%;
    }

    .c2{
        grid-column: 2 / 3;
        grid-row: 1/2;
        width: 100%;
    }

    .c3{
        grid-column: 1 / 3;
        grid-row: 2/3;
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 2em;
        max-width: 100%;
    }

    /*P치gina de tienda*/
    #asideYmain {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .login-formulario,
    .contact-formulario,
    .registro-formulario {
        width: 90%;
    }

}

@media (width <=500px){
    /*P치gina de Inicio*/
    #contactos {
        display: flex;
        flex-direction: column;
    }

    .contactos{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*Header*/
    .contenido-footer-nuevo{
        flex-direction: column-reverse;
        gap: 1em;
    }

    .texto-legal-columna{
        max-width: 100%;
        text-align: center;
    }
}



#mainTienda {
    padding: 30px;
}

.tarjeta {
    background-color: var(--color3);
    border-radius: 20px;
    padding: 30px;
    width: 200px;
    height: 330px;
    text-align: center;
}

.info h3,
.info p {
    margin: 5px;
}

.tarjeta img {
    height: 50%;
    width: 80%;
}

.tarjeta button {
    background-color: var(--color1);
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--color1);
    font-size: 15px;
    width: 90%;
}

.fav {
    width: 100%;
    display: flex;
    align-items: end;
    font-size: 20px;
}

.ofertas {
    font-size: 12px;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
}

.precioContenedor {
    width: 90%;
    padding: 20px 0;
}

.precioContenedor>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.price-input {
    width: 100%;
    display: flex;
    gap: 1em;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    overflow: hidden;
    padding: 15px 5px;
}

.field span {
    font-size: 14px;
    flex: 1;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    -moz-appearance: textfield;
    font-size: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 5px;
    position: relative;
    background: #000000;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--color1);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--color1);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--color1);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/*-------------registro--------------*/

.logito {
    justify-content: left;
    padding: 0 10px;
    height: 90px;
}

.logo {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #fff;
}

.main-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: var(--color2);
    padding: 40px;
    border: 2px solid #000000;
    width: 50%;
    height: fit-content;
}

.formulario h2 {
    margin-top: 0;
    color: #080808;
}

.formulario p {
    font-size: 0.9em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fila {
    display: flex;
    gap: 10px;
}

.formulario>form input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding: 15px 5px;
    border: 1px solid #000000;
    background-color: #e7eedb;
    width: 100%;
}

.btn {
    background-color: #899651;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    align-self: center;
}

/*-----------------------contact-------------------*/


textarea {
    padding: 10px 5px;
    border: 1px solid #000000;
    background-color: #e7eedb;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*-------------------cart-----------------------------*/
.main-ch {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.ch-contenedor {
    width: 90%;
    max-width: 1200px;
    border: 2px solid #0b0b0b;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ch-caja {
    padding: 20px;
}

.ch-caja h2 {
    margin-top: 0;
    font-size: 1em;
}

.ch-caja p {
    color: #555;
}

/*--------------------Inicio sesion-----------------------------*/

.login-contenedor {
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-login {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

.login-caja-principal {
    background-color: var(--color2);
    padding: 10px;
    border: 2px solid #000000;
}

.login-caja-secundaria {
    background-color: var(--color2);
    padding: 15px 25px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.google-login{
    cursor: pointer;
}

.login-caja-secundaria img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.login-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.login-formulario label {
    margin-left: 35px;
    font-size: 1em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 3px;
}

.login-formulario input {
    border: 1px solid #000000;
    background-color: var(--color3);
    font-size: 1em;
    padding: 12px;
    width: 85%;
    align-self: center;
}

.btn-ingresar {
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    width: 30%;
    align-self: center;

}

.link-registro {
    color: #cc0000;
    text-decoration: none;
}